httpdocs/.well-known/*
httpdocs/.vagrant/
httpdocs/phpunit.xml
httpdocs/config/development.config.php
httpdocs/config/autoload.local/*.php
!httpdocs/config/autoload.local/.gitkeep
!httpdocs/config/autoload.local/README.md
httpdocs/data/DoctrineORMModule/Proxy/*
!httpdocs/data/DoctrineORMModule/Proxy/.gitkeep
httpdocs/data/WirklichDigital/DynamicCrud/*
!httpdocs/data/WirklichDigital/DynamicCrud/.gitkeep
httpdocs/data/ocraProxy/*
!httpdocs/data/ocraProxy/.gitkeep
httpdocs/data/cache/*
!httpdocs/data/cache/.gitkeep
httpdocs/filecontent/*
!httpdocs/filecontent/.gitkeep
httpdocs/data/log/*
!httdpcs/data/log/.gitkeep
httpdocs/vendor/*

httpdocs/data/sysmoddatas/*
httpdocs/scripts/*.sh
