<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    // Database connection configs
                    // Change these settings to the values applicable for live system

                    'host'     => 'localhost',
                    'port'     => '',
                    'user' => 'pYsjcu_syshelper_user', // application user, should not be root
                    'password' => 'RWj1~L8rtxHZA7tVbFDdM1~L',
                    'dbname' => 'iISeQA_syshelper_db', // application database 
                ],
            ],
        ],
    ],
];
